@model FileGenerator.Domain.Entities.Struct

@using (Html.BeginForm("Create", "Structure", FormMethod.Post, new { id = "form-structedit" }))
{
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4>
                    CREATE FIELD
                </h4>


            </div>

            <div class="modal-body" id="msgBody">
                <div class="card">

                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div style="display:none;">

                                    @Html.EditorFor(m => m.ID);

                                </div>

                                <div class="form-group form-float">
                                    <div class="form-line">
                                        @Html.LabelFor(m => m.St_Name)
                                        @Html.EditorFor(m => m.St_Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Structure Name" } })

                                    </div>
                                    @Html.ValidationMessageFor(m => m.St_Name)
                                </div>
                               
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.LabelFor(m => m.St_Description)
                                        @Html.EditorFor(m => m.St_Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Structure Description" } })
                                        @Html.ValidationMessageFor(m => m.St_Description)
                                    </div>
                                </div>
                               

                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success waves-effect">
                    <i class="material-icons">done</i>
                    <span>SAVE CHANGES</span>
                </button>
                <button type="button" class="btn bg-red waves-effect" data-dismiss="modal">
                    <i class="material-icons">clear</i>
                    <span>CLOSE</span>
                </button>

            </div>



        </div>
    </div>
}
